@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat',sans-serif;
  background: #e7d31b; 
	background: -webkit-linear-gradient(-135deg, #f3af1c, #eb4438);
	background: -o-linear-gradient(-135deg, #f3af1c, #eb4438);
	background: -moz-linear-gradient(-135deg, #f3af1c, #eb4438);
	background: linear-gradient(-135deg, #f3af1c, #eb4438); 
}
.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #ece6e6;
  font-size: 1.35em;
  display: block;
  background: #413e3e;
  width: 100%;
  text-transform: uppercase;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid 413e3e;
  margin: 0;
  font-weight: 200;
}
.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
.log-form input:focus {
  outline: none;
}
.log-form .btn {
  display: inline-block;
  background: #2f3c3d;
  border: 1px solid #2f3c3d;
  padding: 0.5em 2em;
  color: white;
  margin-right: 0.5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  border-radius: 25px;

}
.log-form .btn:hover {
  background: #754635;
}
.log-form .btn:active {
  background: #754635;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.log-form .btn:focus {
  outline: none;
}
.log-form .forgot {
  color: #754635;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0 .5em;
  padding: 0;
  float: right;
}
.log-form .forgot:hover {
  color: #754635;
}

.login{
  text-decoration: underline !important;
}

.title{
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: #33d3de;
  text-decoration: none;
  background: #eee;
  transition: color 300ms;
}

.title a:hover{
  color: #1ba0a9;
}
.footer--layout{
  background: #2F4F4F;
  width: 100%;
}
.center{
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.footer {
   padding: 2px .5em; 
   /* position:relative; */
  text-align: right; 
  color: white;
  position:absolute;
  bottom:0;
  width:100%;
}