@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body{
    /* background:#ff7f50; */
    background: #e7d31b; 
    background: -webkit-linear-gradient(-135deg, #f3af1c, #eb4438);
    background: -o-linear-gradient(-135deg, #f3af1c, #eb4438);
    background: -moz-linear-gradient(-135deg, #f3af1c, #eb4438);
    background: linear-gradient(-135deg, #f3af1c, #eb4438); 
    font-family:'Montserrat',sans-serif}

.menu{
    width:260px;
    margin:60px auto 0;
    cursor:pointer
  }

.bloco_central {
	width: 700px;
	background: #fff;
	border-radius: 10px;
  }

.title{
    width:100%;
    box-sizing:border-box;
    background:#fff;
    padding:14px;
    border-radius:25px;
    position:relative;
    box-shadow:0 0 40px -10px #000;
    color:#505050}

span{
    float:right;
    font-size:18px!important}

.dropdown{
    width:100%;
    background:#fff;
    border-radius:4px;
    box-shadow:0 0 40px -10px #000;
    color:#505050;
    margin-top:24px;
    max-height:0;
    overflow:hidden;
    transition:all .5s}

.down{
    max-height:800px}

.arrow{
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
    position:absolute;
    right:20px;
    bottom:-24px;
    display:none}

.arrow.gone{
    display:block}

.log-form form {
        display: block;
        width: 100%;
        padding: 0em;
      }
      .log-form h2 {
        color: #ece6e6;
        font-size: 1.35em;
        display: block;
        background: #413e3e;
        width: 100%;
        text-transform: uppercase;
        padding: 0.75em 1em 0.75em 1.5em;
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
        border: 1px solid #1d1d1d;
        margin: 0;
        font-weight: 200;
        border-radius: 10px;
      }
      .log-form input {
        display: block;
        margin: auto auto;
        width: 100%;
        margin-bottom: 0em;
        padding: 0.5em 0;
        border: none;
        border-bottom: 1px solid coral;
        padding-bottom: 1.25em;
        color: #757575;
      }
      .log-form input:focus {
        outline: none;
      }
      .log-form .btn {
        display: inline-block;
        background: #505050;
        border: 1px solid #505050;
        padding: 0.5em 2em;
        color: rgb(255, 255, 255);
        margin-right: 0.5em;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
      }
      .log-form .btn:hover {
        background: #754635;
      }
      .log-form .btn:active {
        background: #754635;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
      }
      .log-form .btn:focus {
        outline: none;
      }
      .log-form .forgot {
        color: #33d3de;
        line-height: 0.5em;
        position: relative;
        top: 2.5em;
        text-decoration: none;
        font-size: 0.75em;
        margin: 0 .5em;
        padding: 0;
        float: right;
      }
      .log-form .forgot:hover {
        color: #1ba0a9;
      }
      
      .centralizado {
        margin: 0;
        position: absolute;
        top: 48%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
       }

       .limiter {
        width: 100%;
        margin: 0 auto;
        }
        
      
        .container {
        width: 100%;  
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #e7d31b; 
        background: -webkit-linear-gradient(-135deg, #f3af1c, #eb4438);
        background: -o-linear-gradient(-135deg, #f3af1c, #eb4438);
        background: -moz-linear-gradient(-135deg, #f3af1c, #eb4438);
        background: linear-gradient(-135deg, #f3af1c, #eb4438); 
        }

        .container-form-btn {
          width: 100%;  
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 20px;
          }

          .bloco-pic {
            width: 316px;
          }
          
        .bloco-pic img {
            max-width: 100%;
          }

.containe {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containe input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.containe:hover input ~ .checkmark {
  background-color: #ccc;
}

.containe input:checked ~ .checkmark {
  background-color: coral;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containe input:checked ~ .checkmark:after {
  display: block;
}

.containe .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

/* 
*******************
*      MENU       *
******************* */
.vertical-menu {
  /* width: 550px; */
  width: 100%;
  padding: 10px 0px 0px 0px;
  }
  
  .vertical-menu a {
	/* background-color: #eee; */
	color: black;
	display: block;
	padding: 15px;
	text-decoration: none;
  border-radius: 25px;
  background:#fff;
  position:relative;
  box-shadow:0 0 40px -10px #000;

}
  
  .vertical-menu a:hover {
	background-color: coral;
  }
  
  .vertical-menu a.active {
	background-color: #4CAF50;
	color: white;
  }

.topo {
  padding-top: 35px;

}

/* 
***********************
*     Relatório       *
*********************** 
*/

#customers {
  font-family: 'Montserrat',sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: coral;
  color: white;

}